/*---------------------------
     Basic Setup
----------------------------*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  background-color: white;
  color:#555;
  font-family: 'Open Sans','sans-serif', 'Arial';
  font-weight: 300;
  font-size: 12px;
  text-rendering:optimizeLegibility;
}

/*---------------------------
     Reusable components
----------------------------*/
.row{
  max-width: 1140px;
  margin:0 auto;
}

.nav-row {
  max-width: 1140px;
  margin:0 5%;
}

h1 {
  font-size: 130%;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px; 
  text-align: center;
  
}

h3{
  font-size: 100%;
  font-weight: bold;
  padding-bottom: 6%;
}
/*------ Headings ------*/

.header-text-box h1 {
  font-size: 109%;
  margin-top: -75px;
  color: whitesmoke;
}

h2{ font-size: 130%;}

img { 
  max-width: 100%;
  height: auto;
 }

.section1{
  background-color: #f2f2f2;
  
}

/*------ Icons ------*/
.icon-key{
  font-size: 150%;
  margin: 5% 45% 20px ;
  color: #0ba14b;
  text-align: center;
}

/*------ Buttons ------*/

.button:link,
.button:visited {
display: inline-block;
padding: 5px 22px;
font-weight: 300;
text-decoration: none;
border-radius: 200px;
color: whitesmoke;
border: 1px solid #0ba14b;
transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button:hover,
.button:active{
background-color: #06c85a;
border: 1px solid #47e98b;
}

.button-header {
  background-color: #0ba14b;
  margin-right:20px;
  font-weight: bolder;
}

.button-header2{
  border: 1px solid #0ba14b;
}

/*------ Links ------*/
a:link,
a:visited{
  color: #555;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2, color 0.2s;
}

a:hover,
a:active {
  color:#0ba14b;
  border-bottom: 1px solid transparent;
}

/********************
*     Header
*********************/

header {
  margin-top: 0;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), rgba(0, 0, 0, 0.5)),url(img/header-pic.jpg);
  background-size: cover;
  background-position: center;
  height: 55vh;
  background-attachment: fixed;
  background-position-y: 73vh;
  background-position-x: -70vh;
}

.header-text-box{
  position:absolute;
  width: 1140px;
  top: 40%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align: center;
}

.logo {
  height:25px ;
  width: auto;
  float:left;
  margin-left: 10px;
  margin-top: 25px;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 15px;
}

.main-nav li{
  display:inline-block;
  margin-left: 3px;
  margin-right: 2px;
  margin-top: -2px;
}

.main-nav li a:link,
.main-nav li a:visited {
 color:whitesmoke;
 text-decoration: none;
 font-size: 90%;
 border-bottom: 1px solid transparent;
 transition: border-bottom 0.2s;
 padding: 0 9px; // space between the navigation bar text and underline
}

.main-nav li a:hover,
.main-nav li a:active {
border-bottom: 2px solid #2ed573; // underline text
}





/*******************************
*    Section 2 - Gallery
********************************/

.category{
  list-style: none;
  width: 100%;
}
.category li{
  display: block;
  float:left;
  width: 30%;
}

.gallery {
  margin-top: 1rem;
  margin-left: 3rem;
}

.gallery-photo {
  width: 100%;
  margin:0;
  overflow: hidden;
  background-color:#000 ;
}

.gallery-photo img {
  opacity:0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s; opacity: 0.5s;
}


.gallery-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
.buyer-persona {
  margin-bottom: 2%;
  padding-right: 3rem;
  margin-top: 6%;
  margin-left: 7rem;
  line-height: 2;
}

.buyer-list{
  margin-left: -5rem;
}

.buyer-title h1{
  margin-top:3rem;
  margin-right: 2.5rem;
}


/******************************************
*   Section 2 - Who should get a DryPod
*******************************************/

.what-is-drypod {
  margin-bottom: 5%;
  text-align: center;
  margin-top: 24px;
}
.what-is-drypod:after{
  display:block;
  height: 2px;
  background-color:#0ba14b;
  content:"";
  width: 200px;
  margin: 1% auto;
  margin-bottom: 2%;
}

.what-is-drypod p {
  line-height: 160%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*******************************
*    Section 3 - Key values
********************************/

.box {
  padding: 1%;

}
.box p{
  font-size: 90%;
  line-height: 145%;
  text-align: center;
  margin-right: 3rem;
  margin-left: 3rem;
}
.key-values{
  margin-bottom: 3rem;
}
.key-values h1{
  padding-top: 2%;
}


.key-values h2{
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 18px;
}

/*****************************
*     Section 3 - Products
******************************/

.product img{
  display: inline-block;
  margin: 0 auto 1.5% auto;
  border-radius: 100%;
  width: 45%;
  height: 45%;
}
.products img {
  margin-left: 7.5rem;
}

.products h3 {
  margin-left: 38%;
  border-color:#0ba14b;
}

.products {
  background-color: #f2f2f2;
}
.products h1{
  padding-top: 10%;
}

/*****************************
*   Section 4 - Testimonials
******************************/
.testimonials {
  background-image: linear-gradient(rgb(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/soccer-field.jpg);
  background-size: cover;
  height: 90vh;
  color: whitesmoke;
  background-attachment: fixed;
  background-position-x: -27vh;
}

blockquote{
  padding: 1rem 3rem 0 3rem;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before{
  content: "\201C";
  font-family:"sans-serif";
  font-size: 250%;
  display: block;
  position: absolute;
  top: -5px;
  left: 1.5rem;
}

cite{
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img{
  height: 50%;
  width: 15%;
  border-radius: 150%;
  margin-right: 10px;
  vertical-align: middle;
}

.testimonials h1{
margin-top: 8%;
}

.review{
  display: none;
}

/********************
*     Footer
*********************/
footer{
  background-color: #171717;
  padding: 2rem;
  line-height: 150%;
  padding-left: 3rem;
  padding-right: -15rem;
}
.copy-right p {
  text-align: center;
  font-size: 0.8rem;
}


.footer-text {
  text-align: center;
}


.contact-info, .footer-nav, .social-icons {
  list-style: none;
}


.footer-nav li:last-child, 
.social-icons li:last-child{
margin: 0;
}

.social-icons{

  font-size:1.3rem;
}

.social-icons li{
  display:inline-block ;
  margin-right: 1rem;
  }
