/*---------------------------
     Basic Setup
----------------------------*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  background-color: white;
  color:#555;
  font-family: 'Lato', 'Arial',sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering:optimizeLegibility ;
}

/*---------------------------
     Reusable components
----------------------------*/
.row{
  max-width: 1140px;
  margin:0 auto;
}

section{
  padding: 0.5rem 0;
}
.nav-row{
  max-width: 1140px;
  margin:0 200px;
}

/*------ Headings ------*/

h1 {
  margin-top: 0;
  margin-top: 45px;
  color:whitesmoke;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}
h2{ font-size: 130%;}

.section3 h2{
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 30px;
}

.what-is-drypod:after{
  display:block;
  height: 2px;
  background-color:#0ba14b;
  content:"";
  width: 200px;
  margin: 2% auto;
  margin-bottom: 20px;
}

/*------ Paragraphs ------
.long-text{
  line-height: 160%;
  width: 70%;
  margin-left: 15%;
}*/

/*------ Icons ------*/
.icon-key{
  font-size: 150%;
  margin: 0 45% 20px ;
  color: #0ba14b;
  text-align: center;
}

/*------ Buttons ------*/

.button:link,
.button:visited {
display: inline-block;
padding: 10px 30px;
font-weight: 300;
text-decoration: none;
border-radius: 200px;
color: whitesmoke;
border: 1px solid #0ba14b;
transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button:hover,
.button:active{
background-color: #06c85a;
border: 1px solid #47e98b;
}

.button-header1 {
  background-color: #0ba14b;
  margin-right:20px;
  font-weight: bolder;

}

.button-header2{
  border: 1px solid #0ba14b;
}

/********************
*     Header
*********************/

header{
  margin-top: 0;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.6), rgba(0, 0, 0, 0.6)),url(img/soccer4.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-text-box{
  position:absolute;
  width: 1140px;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align: center;
}

.logo{
  height:50px ;
  width: auto;
  float:left;
  margin-left: 50px;
  margin-top: 50px;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li{
  display:inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
 color:whitesmoke;
 text-decoration: none;
 font-size: 90%;
 border-bottom: 1px solid transparent;
 transition: border-bottom 0.2s;
 padding: 8px 0; // space between the navigation bar text and underline
}

.main-nav li a:hover,
.main-nav li a:active {
border-bottom: 2px solid #2ed573; // underline text
}

/********************
*     Section 1
*********************/
.what-is-drypod {
  text-align: center;
  margin-top: 50px;
 
}

.buyer-persona {
  margin-top: 30px;
  margin-left: 38%;
  line-height: 1.5;
  margin-bottom: 50px;
}

.buyer-list{
  margin-left: 30px;
}


/*****************************
*     Section 2 - Products
******************************/

.product img{
  display: block;
  margin: 0 auto 20px auto;
  width: 50%;
}


.product1 img{
  margin-left: 10rem;
}
.product2 img{
  margin-right: 250px;
}


/*******************************
*    Section 3 - Key values
********************************/
.box{
  padding: 1%;

}

.box p{
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}

/*******************************
*    Section 4 - Gallery
********************************/

.category{
  list-style: none;
  width: 100%;
}
.category li{
display: block;
float:left;
width: 25%;
}
/*
.gallery-photo{
width: 100%;
margin:0;
}*/

.gallery-photo img{
  width: 100%
}
